.leftcol
       {
        width: 300px;
        float: left;
        margin­left: 0px;
        padding: 5px;
       }
.maincol
  {
  margin-left: 350px;
  border-left: 4px solid brown;
  padding: 5px;
  }
.spacer
  {
  clear: both;
  }
.header
       { text­align: center;
         font­size: 24px;
         margin­top: 4px;
         border­bottom: 4px solid brown;
         margin­bottom: 0px;
       }
.footer
       {
        border­top: 4px solid brown;
        font­size: 24px;
        text­align: right;
        padding: 2px 10px 0px 0px;
        clear: both
       }

