/* css uses # for id and a dot for class */

blockquote p:first-of-type:before {
  content: "\201C";
}

/* Selecting only the last paragraph for when there are multiple paragraphs */

blockquote p:last-of-type:after {
  content: "\201D";
}

blockquote p:last-of-type {
  margin-bottom: 0;
}

.source {
  display: block;
}

.tshadow {
  font-family: "Philosopher" serif;
  font-size: 30px;
  font-style: normal;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.sboxit {
  background: lightgrey;
  margin: 10px 2px 10px 2px;
  border: 2px;
  padding: 4px;
  box-shadow: 4px 4px 5px #888888;
}

.lsboxit {
  background: white;
  margin: 10px 2px 10px 2px;
  border: 2px;
  padding: 4px;
  box-shadow: 2px 0 15px -1px rgba(31, 73, 125, 0.8), -2px 0 8px -1px rgba(31, 73, 125, 0.8);
}

.pullquote {
  float: right;
  width: 30%;
  //background: url(images/openquote.gif) top left no-repeat;
  color: #030;
  background: #ddf;
  font-weight: bold;
  padding: 10px;
  margin: 0 13px 13px 0;
  line-height: 0.9;
  font-style: italic;
  font-size: 20px;
}

.dropfirst::first-letter {
  float: left;
  font-size: 45px;
  line-height: 1;
  font-weight: bold;
  margin-right: 9px;
  color: #9c0;
  font-family: "Times New Roman", Times, serif;
  text-shadow: #690 .05em .05em;
}

.darkcol {
  background-color: #888888;
}

.pad_lr {
  padding-left: 30px;
  padding-right: 30px;
}

.content a {
  //display: inline-block; 
  background-color: #fafafa;
  color: #0f0f0f;
  //font-size: 1.5em;
  //font-family: Courier, sans-serif;
  //padding: 1em 5em;
  //text-decoration: none;
  //text-transform: uppercase;
  border-radius: 0.2em;
  //border-bottom: 0.25em solid #0f5177;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
  //transition: 0.1s;
  box-shadow: 0 2px 3px #ccc;
  //position: relative;
}

.content a:hover {
  background-color: #1e9feb;
  border-bottom-width: 0;
  top: 0.2em;
}


/* snatched from codepen */

.footer-brand-logos {
  margin: 0 auto;
  width: 960px; 
  height: 56px; 
  text-align: justify;
  background-color: #f0f0f0; 
}

.footer-brand-logos:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.footer-brand-logos * {
  padding: 0;
  margin: 0;
}

.footer-brand-logos img {
  height: 56px;        
}

.footer-brand-logos a {
  text-decoration: none;
  display: inline-block;
  padding: 0 20px;
}
