// css uses # for id and a dot for class


blockquote p:first-of-type:before {
    content: "\201C";
}

/* Selecting only the last paragraph for when there are multiple paragraphs */
blockquote p:last-of-type:after {
    content: "\201D";
}

blockquote p:last-of-type {
    margin-bottom: 0;
}

.source {
    display: block;
}

.tshadow {
  font-family: "Phiosopher" serif;
  font-size: 30px;
  font-style: normal;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
