// css uses # for id and a dot for class

blockquote p:first-of-type:before {
    content: "\201C";
}

/* Selecting only the last paragraph for when there are multiple paragraphs */
blockquote p:last-of-type:after {
    content: "\201D";
}

blockquote p:last-of-type {
    margin-bottom: 0;
}

.source {
    display: block;
}

.tshadow {
  font-family: "Philosopher" serif;
  font-size: 30px;
  font-style: normal;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.sboxit {
  background: lightgrey;
  margin: 10px 2px 10px 2px;
  border: 2px;
  padding: 4px;
  box-shadow: 4px 4px 5px #888888;
}

/* added by gwm 2017-11-15 */
img[src$='#center']
{
    display: block;
    margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
    width:40%;
}

img[src$='#floatleft']
{
    float:left;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
    width:40%;
}

img[src$='#floatright']
{
    float:right;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
    width:40%;
    //height:50px;
}
*/

