<!-- fonts only!  -->
<link ref="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=EB+Garamond" >
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Architects Daughter" >
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine|Open+Sans:300" >
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Philosopher">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather">

