<!-- 
  <.... style='font-family: Architects Daughter, serif; font-size: 48px; text-shadow: 4px 4px 4px #aaa" ...>  
-->
<link ref="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=EB+Garamond' >
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Architects Daughter" >
<link rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Tangerine|Open+Sans:300' >
<link rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Philosopher'>
