<!-- gads: google ads -->
<!-- see: content/hmpg-blocks/gads.md too -->
<!-- note data-ad-slot #s are different ?? -->
       <!--data-ad-client="ca-pub-6986704271237340"-->
       <!--data-ad-slot="6884077067"-->
<div class="row" id="partial_gads_html">
    <center>
    <!--<div class="col-md-11 col-md-offset-1 card">-->
    <div class="col-md-11 col-md-offset-1 card">
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-6986704271237340"
            data-ad-slot="6884077067"
            <!--data-ad-client="{{ . }}"-->
            <!--data-ad-slot="9997956765"-->
            data-ad-format="auto">
        </ins>
    </div>

    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </center>
</div>
<hr>
