{{ printf "<!-- **recent-posts** -->"  | safeHTML }}
{{ if isset .Site.Params "recent_posts" }}
{{ if .Site.Params.recent_posts.enable }}
<section class="bar background-white no-mb">
	<div class="container">
		<div class="col-md-12">
			<div class="heading text-center">
				<h2>{{ .Site.Params.recent_posts.title }}</h2>
			</div> <!-- /.heading text-center -->

			{{ if .Site.Params.recent_posts.randomlines }}
                <p class="lead">
                <center>
                    <!-- <div id="random-line"  class="tshadow"></div> -->
                    <div id="linequote" class="tshadow"></div> - <div id="lineauthor"></div>
                </center>
                </p>
			{{ else }}
                <p class="lead">
                <center>
                    {{ .Site.Params.recent_posts.subtitle }}
                </center>
                </p>
			{{ end }}
			<div class="row"> <!-- *** BLOG HOMEPAGE *** -->
				{{/* $posts := .Paginate (where .Site.Pages "Type" "posts") */}}
				{{ $posts := .Paginate (where .Site.RegularPages "Section" "=" "posts") }}
				{{ range first 3 $posts.Pages }}
                <!--
				<div class="col-md-4 col-sm-6">
                -->
				<div class="col-md-4">
					<div class="box-image-text blog">
						<div class="top">
							<div class="image" style="overflow:hidden">
								{{ if .Params.image }} 
                                    <img src="{{ .Params.image }}" class="img-responsive" alt="" >
								{{ else }}
                                    <img src="/img/placeholder.png" class="img-responsive" alt="">
								{{ end }}
							</div> <!-- /.image -->
							<div class="bg"></div>
							<div class="text">
								<p class="buttons">
								<a href="{{ .RelPermalink }}" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i> Read more</a>
								</p>
							</div> <!-- /.text -->
						</div> <!-- /.top -->
						<div class="content">
							<h4><a href="{{ .RelPermalink }}">
									{{ if .Title }}
                                        {{ .Title }}
									{{ else }}
                                        {{.File.TranslationBaseName}}
									{{ end }}
								</a></h4>
								<p class="author-category">
								{{ with .Params.author }}
                                    By <a href="#">{{ . }}</a>
								{{ end }}
								on {{ .Date.Format "January 2, 2006" }}
								</p>
								<p class="intro">{{ .Summary }}</p>
								<p class="read-more">
								<a href="{{ .RelPermalink }}" class="btn btn-template-main">Continue reading</a>
								</p>
						</div> <!-- /.content -->
					</div> <!-- /.box-image-text -->
				</div> <!-- /.col-md-4 col-sm-6 -->
				{{ end }}
			</div> <!-- /.row -->
			<!-- *** BLOG HOMEPAGE END *** -->

			<center><a class="btn btn-primary" href="/posts/index.html">All Posts</a></center>
		</div> <!-- /.col-md-12 -->
	</div> <!-- /.container -->
</section>
<!-- /.bar -->
    {{ else }}
        {{ printf "<!-- no site param recent_posts -->" | safeHTML }}
    {{ end }}
{{ else }}
    {{ printf "<!-- site param recent_posts is false -->" | safeHTML }}
{{ end }}
{{ printf "<!-- **EOB recent-posts** -->"  | safeHTML }}
