{{ printf "<!-- **scripts** -->" | safeHTML }}
<script type="text/javascript" src="{{.Site.BaseURL}}/js/jquery.js"></script>
<script type="text/javascript" src="{{.Site.BaseURL}}/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="{{.Site.BaseURL}}/js/index.js"></script>
<script type="text/javascript" src="{{.Site.BaseURL}}/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" async></script>
<script type="text/javascript" src="{{.Site.BaseURL}}/js/custom.js"></script>
<script id="dsq-count-scr" src="//companionway-net.disqus.com/count.js" async></script>
{{ printf "<!-- **EOB scripts** -->" | safeHTML }}

