<!-- added by gwm 20161129 -->
<script type="text/javascript" src="{{.Site.BaseURL}}js/jquery.js"></script>
<script type="text/javascript" src="{{.Site.BaseURL}}js/jquery.fitvids.js"></script>
<script type="text/javascript" src="{{.Site.BaseURL}}js/index.js"></script>
<script type="text/javascript" src="{{.Site.BaseURL}}js/bootstrap.min..js"></script>
<script type="text/javascript" src="{{.Site.BaseURL}}js/npm.js"></script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script type="text/javascript" src="{{.Site.BaseURL}}js/custom.js"></script>



