<!-- styles only! -->
<link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}/css/nav.css" />
<link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}/css/custom.css" />
<link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}/css/screen.css" />
<link rel="stylesheet" type="text/css" href="path/to/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
