{{ printf "<!-- **/single** -->"  | safeHTML }}
<!-- this is pretty much just a place holder right now
     maybe the sections could have a meta header
     that set a theme or style or model or whatever
     Then this would call another partial for each 
-->
<p>beginning section/single.html</p>
<div class="container">
	<section class="call-to-action">
		<!-- .rows and .columns -->
		<div class="row">
			<div class="col-md-4">
				<i class="fa fa-cloud" aria-hidden="true"></i>
				<h3>Cloud Computable</h3>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
			</div>
			<div class="col-md-4">
				<i class="fa fa-hdd-o" aria-hidden="true"></i>
				<h3>Backwards Compatible</h3>
				<p>Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Lorem ipsum dolor.</p>
			</div>
			<div class="col-md-4">
				<i class="fa fa-terminal" aria-hidden="true"></i>
				<h3>GUI Free</h3>
				<p>Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
			</div>
		</div>
		<!-- /.rows and .columns -->
	</section>
</div>

<p>end section/single.html</p>
{{ printf "<!-- **EOB /single** -->"  | safeHTML }}
